@import {Model} from "../RegisterNewWayController";
@model Model
<div class="window-login-register-new-way page {{@model.active == 'registerNewWay' ? 'active' : ''}} {{@model.noInfoBox ? 'no-info-box' : ''}}">
  <div class="boxes">
    
    <div class="inner">
      <header>
        <h1><div class="logo-127x112-container"><img src="{{#Helper.getAssetByName('CUSTOM_LOGO_127X112')}}" /></div></h1>
        <div class="header-info">
        {{ if(model.adminRegistration) { }}
          {{@Helper.i18n("window.login.form.register.headerForAdmin", model.domain)}}
        {{ } else { }}
          {{@Helper.i18n("window.login.form.register.header")}}
        {{ } }}
        </div>
      </header>
      <div class="error"></div>
      <section class="company">
        <div class="info-box" element-id="company">This is the place to enter your company's full name</div>

        <div class="row company-name">
          <div class="col-xs-12">
            <div style="font-family: source_sans_pro,arial,sans-serif; font-size: 13px; width: 100%; text-align: left; padding-bottom: 4px;">
              {{@Helper.i18n("window.login.form.registernewway.company.label")}}
            </div>
            <div class="form-group with-icon">
              <div class="holder">
                <!--
                <span class="ico-hash"></span>
                -->
                <input type="text" class="form-control" placeholder="{{@Helper.i18n("window.login.form.registernewway.company.placeholder")}}" name="company" value="">
                <button class="btn btn-primary next-step" trigger-action="nextstep">Next</button>

              </div>
            </div>
          </div>
        </div>
      </section>      
      <form name="register" method="post" onsubmit="return false;">
        
        <input type="hidden" name="key" value="{{@model.registerKey || ""}}">
        <section class="next-step">
            <div class="info-box hide" element-id="hashmail">Your user name for PrivMX Team Server account.</div>
            <div class="info-box hide" element-id="prefix">Domain of your PrivMX Team Server. <br/>It must be between 3 and 15 characters long.<div class="prefix-error">Invalid domain prefix</div></div>
            <div class="info-box hide" element-id="password">Your PrivMX Team Server account password. Remember thet there is no option such a Reset password anywhere so choose your password wisely.</div>
            <div class="info-box hide" element-id="password2">Your PrivMX Team Server account password repeated.</div>
            <div class="inputs-overlay"></div>
            <div class="row hashmail">
              <div class="col-xs-12">
                <div style="font-family: source_sans_pro,arial,sans-serif; font-size: 13px; width: 100%; text-align: left; padding-bottom: 4px;">
                  {{@Helper.i18n("window.login.form.registernewway.manager.label")}}
                </div>
                <div class="form-group with-icon">
                  <div class="holder">
                    <!--
                    <span class="ico-hash"></span>
                    -->
                    <input type="text" class="form-control" placeholder="{{@Helper.i18n("window.login.form.register.hashmail.placeholder")}}" name="hashmail" value="{{@model.predefinedUsername}}">
                    <div class="hash">#</div>
                    <input type="text" class="form-control" placeholder="{{@Helper.i18n("window.login.form.registernewway.prefix.placeholder")}}" name="prefix" value="{{@model.domainPrefix}}">
                    <div class="addition">{{#model.domain.replace(/\./g, '.<wbr>')}}</div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-12">
                <div style="font-family: source_sans_pro,arial,sans-serif; font-size: 13px; width: 100%; text-align: left; padding-bottom: 4px;">
                  {{@Helper.i18n("window.login.form.register.password.label")}}
                </div>
                <div class="password-meter">
                  <div class="score-text">{{$Helper.i18n("passwordStrengthMeter.info")}}</div>
                </div>
                <div class="form-group with-icon password-field">
                  <div class="holder">
                    <span class="ico-lock"></span>
                    <input type="password" class="form-control" placeholder="{{@Helper.i18n("window.login.form.register.password.placeholder")}}" name="password">
                  </div>
                  <div class="holder" style="margin-top: 8px;">
                    <span class="ico-lock"></span>
                    <input type="password" class="form-control" placeholder="{{@Helper.i18n("window.login.form.register.password2.placeholder")}}" name="password2">
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row" style="display: none;">
              <div class="col-xs-12">
                <div style="font-family: source_sans_pro,arial,sans-serif; font-size: 13px; width: 100%; text-align: left; padding-bottom: 4px;">
                  {{@Helper.i18n("window.login.form.register.email.label")}}
                </div>
                <div class="form-group with-icon">
                  <div class="holder">
                    <span class="ico-letter"></span>
                    <input type="text" class="form-control" placeholder="{{@Helper.i18n("window.login.form.register.email.placeholder")}}" name="email">
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row" style="display: none;">
              <div class="col-xs-12">
                <div class="form-group">
                  <label class="pac-checkbox-label"><input type="checkbox" data-action="toggle-pac-input" /> {{@Helper.i18n("window.login.form.register.pin.label")}}</label>
                </div>
              </div>
            </div>
            
            <div class="row pac-input" style="display: none;">
              <div class="col-xs-12">
                <div class="form-group with-icon">
                  <div class="holder">
                    <span class="ico-lock"></span>
                    <input type="password" class="form-control" placeholder="{{@Helper.i18n("window.login.form.register.pin.placeholder")}}" name="pin" value="">
                  </div>
                </div>
              </div>
            </div>
            
            {{ if(!model.noTerms) { }}
            <div class="row terms-input">
              <div class="col-xs-12">
                <label><input type="checkbox" name="terms" />
                  {{
                    var terms = '<span class="link" data-url="' + model.termsUrl + '">' + Helper.i18n("window.login.acceptTermsAndPivacy.regulation.text") + '</span>';
                    var privacy = '<span class="link" data-url="' + model.privacyPolicyUrl + '">' + Helper.i18n("window.login.acceptTermsAndPivacy.privacy.text") + '</span>';
                    var label = Helper.i18n("window.login.acceptTermsAndPivacy.text2", [terms, privacy]);
                  }}
                  {{# label}}
                </label>
              </div>
            </div>
            {{ } }}
            
            <input type="hidden" name="token" value="{{@model.token}}" />
            
            <button type="submit" class="btn btn-primary btn-block btn-lg">
              <span class="icon-holder"></span>
              {{ if(model.adminRegistration) { }}
                {{@Helper.i18n("window.login.form.register.button.submit.label.admin")}}
              {{ } else { }}
                {{@Helper.i18n("window.login.form.register.button.submit.label")}}
              {{ } }}
            </button>
            <!--
            <p class="link center"><a href="javascript:void(0)" data-action="show-login-form">{{@Helper.i18n("window.login.form.register.button.cancel.label")}}</a></p>
            -->
        </section>
      </form>
    </div>
    {{ if(!model.noInfoBox) { }}
    <div class="info-box">
      {{@Helper.i18n("window.login.registerInfo.welcome.text")}}
      <div class="app-icons">
        <span class="ico-letter"></span>
        <span class="ico-comment"></span>
        <span class="ico-note"></span>
        <span class="ico-profile"></span>
      </div>
      {{#Helper.nl2br(Helper.i18n("window.login.registerInfo.long.text"))}}
    </div>
    {{ } }}

  </div>
  {{ if (model.adminRegistration && model.originalUrl) { {{
  <div class="pre-info-box">
    <div class="selectable">
      {{@Helper.i18n("window.login.form.register.preInfo2")}}<br/>
      <a href="{{@model.originalUrl}}">{{@model.originalUrl}}</a>
    </div>
  </div>
  }} } }}
</div>
