node_modules
node_modules_dev
node_modules_prod
node_modules_links
.DS_Store
!.gitignore
npm-debug.log
.settings
.project
.buildpath
*.swp
build/*.js
dist
dist-tmp
releases
releases-plugin
./index.css
window/login/template/main.css
electron-build
electron-dist
.vscode
app/out
app/src/**/*.html.ts
app/src/**/*.properties.ts
old
server
pack.json
plugins/gif/out
plugins/gif/src/**/*.html.ts
plugins/gif/src/**/*.properties.ts
plugins/crm/out
plugins/crm/src/**/*.html.ts
plugins/crm/src/**/*.properties.ts
dist-plugin
types-main
types-web
privmx-desktop-client-linux-x64
privmx-desktop-client-win32-x64
electron-dist.zip
electron-plugins.zip
electron-plugins
*.deb
start-electron-dev
electron/out
/start-electron
voicechat/out
analyzer.js
app/src/emoji/*.png
