@import {Model} from "../AfterRegisterController";
@model Model
<div class="window-login-after-register page">
  <div class="boxes">
    <div class="inner inner-after-register {{@model.registerFromDesktopApp ? '': 'reduce-height'}}">
      <header>
        <h1><div class="logo-127x112-container"><img src="{{#Helper.getAssetByName('CUSTOM_LOGO_127X112')}}" /></div></h1>
      </header>
      <div class="gratz">
        <div class="ok-confirm">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="info">
          {{@Helper.i18n('window.login.submitRegister.afterRegister.info' + (model.isAdmin ? '.admin' : '.user'))}}
        </div>
      </div>
      <div class="download-info {{@model.registerFromDesktopApp ? 'hide': ''}}">
        {{@Helper.i18n('window.login.submitRegister.afterRegister.downloadInfo')}}
      </div>
      {{ if (model.registerFromDesktopApp) { {{
      <div class="login-info">
        <div class="row">
          <div class="cell cell-100">{{@Helper.i18n('window.login.submitRegister.afterRegister.loginInfoTitle')}}</div>
        </div>
        <div class="row to-left">
          <div class="cell cell-30">{{@Helper.i18n('window.login.submitRegister.afterRegister.userLogin')}}:</div><div class="cell to-left login-placeholder">{{@model.login}}</div>
        </div>
        <div class="row to-left">
          <div class="cell cell-30">{{@Helper.i18n('window.login.submitRegister.afterRegister.userPassword')}}:</div><div class="cell to-left">********</div>
        </div>
        <button class="btn btn-primary btn-go-to-login" data-action="login">{{@Helper.i18n('window.login.submitRegister.afterRegister.goToLoginScreen')}}</button>
      </div>
      }} } }}
      
      
      {{ if (model.webAccessEnabled) { {{
      <div class="web-login">
        {{@Helper.i18n('window.login.submitRegister.afterRegister.login1')}}
        <button class="btn btn-link link" data-action="login">{{@Helper.i18n('window.login.submitRegister.afterRegister.login2')}}</button>
        {{@Helper.i18n('window.login.submitRegister.afterRegister.login3')}}
      </div>
      }} } }}
    </div>
    
  </div>
</div>
