@model string
<div class="field password-holder password-section">
    <div class="info">{{@Helper.i18n("window.adminEditUser.users.details.generatedPassword.label")}}</div>
    <div class="input">
        <input type="password" value="{{@model}}" readonly="readonly" />
        <span class="password-show">{{@Helper.i18n("window.adminEditUser.users.details.generatedPassword.show")}}</span>
        <span class="password-hide">{{@Helper.i18n("window.adminEditUser.users.details.generatedPassword.hide")}}</span>
        <span class="copy-link" data-copy="{{@model}}">
          <span>
            <i class="fa fa-copy"></i>
            <span class="txt">{{@Helper.i18n("core.copy")}}</span>
          </span>
        </span>
        <span class="copy-link" data-trigger="send-link">
          <span>
            <i class="fa fa-envelope"></i>
            <span class="txt">{{@Helper.i18n("window.adminEditUser.users.details.resetSummary.infoAccount.sendLink.short")}}</span>
          </span>
        </span>
    </div>
</div>