@model {messagesCount: number, hasNotes2: boolean, hasTasks: boolean, inAnyVideoConference: boolean, canCreateTask: boolean, inVideoConferenceInThisSection:boolean}
<div class="chat-reply">
  <div class="textarea-wrapper">
    <div placeholder="{{@Helper.i18n('plugin.chat.component.chatMessages.chatReply.input.placeholder')}}" class="form-control reply-field" data-role="reply-field"></div>
    <div class="edit-mode-info">{{@Helper.i18n("plugin.chat.component.chatMessages.chatReply.editModeInfo")}}</div>
  
    <div class="buttons">
      <button class="btn btn-default btn-sm btn-success small msg-send-btn" data-action="send-chat-message">
        <span class="left ico-paper-airplane"></span>
        {{@Helper.i18n("plugin.chat.component.chatMessages.chatReply.button.submit.label")}}
      </button>
      <button class="btn btn-default btn-sm btn-success small msg-edit-btn" data-action="send-message-edit">
        <span class="left ico-paper-airplane"></span>
        {{@Helper.i18n("plugin.chat.component.chatMessages.chatReply.button.edit.label")}}
      </button>
      <button class="btn btn-default btn-sm btn-default gray small msg-edit-btn" data-action="cancel-message-edit">
        {{@Helper.i18n("plugin.chat.component.chatMessages.chatReply.button.cancelEdit.label")}}
      </button>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="enter-sends" data-trigger="enter-sends-toggle" />
          {{@Helper.i18n("plugin.chat.component.chatMessages.chatReply.input.enterSends.label")}}
        </label>
      </div>
      <div class="additional-buttons">
        <span class="std-buttons">
          <button class="btn btn-default btn-sm small gray multiple-icons" data-action="new-file">
            <span class="icon fa fa-file-video-o"></span>
            <span class="icon fa fa-file-audio-o"></span>
            <span class="icon fa fa-file-photo-o"></span>
            <span class="icon fa fa-upload"></span>
            <span class="text ellipsis">…</span>
          </button>
        </span>
        <span class="buttons-when-not-in-voice-chat">
          <button class="btn btn-default btn-success btn-sm small" data-action="join-voice-chat">
            <span class="left fa fa-phone" style="vertical-align:middle"></span>
            {{@Helper.i18n('plugin.chat.component.chatMessages.chatReply.button.joinVoiceChat.label')}}
          </button>
        </span>
        <span class="buttons-for-video-conferences">
          <button class="btn btn-sm small btn-default gray visible" data-action="video-conference-gong">
            <span class="left fa fa-bell"></span>
          </button>
          <button class="btn btn-sm small btn-default gray" data-action="join-video-conference">
            <span class="left privmx-icon privmx-icon-videocall" style="vertical-align:middle"></span>
            {{
              let joinVideoConferenceBtnType = "default";
              if (model.inAnyVideoConference) {
                joinVideoConferenceBtnType = model.inVideoConferenceInThisSection ? "bringToFront" : "switch";
              }
            }}
            <span class="btn-text">{{@Helper.i18n('plugin.chat.component.chatMessages.chatReply.button.joinVideoConference.' + joinVideoConferenceBtnType + '.label')}}</span>
          </button>
          <button class="btn btn-sm small btn-default gray {{@model.inAnyVideoConference && model.inVideoConferenceInThisSection ? 'visible' : ''}}" data-action="video-conference-disconnect">
            <span class="left fa fa-phone" style="vertical-align: middle;"></span>
            <span class="btn-text">{{@Helper.i18n("plugin.chat.component.chatMessages.chatReply.button.leaveVideoConference.label")}}</span>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="voice-chat-people">
    <div class="inner">
      <div class="list"></div>
      <div class="buttons">
        <div class="additional-buttons">
          <span class="buttons-when-in-voice-chat">
            <i class="fa fa-microphone" data-action="toggle-talking">
              <div class="infotooltip not-rendered" data-tooltip-theme="dark" data-tooltip-message="{{@Helper.i18n('plugin.chat.component.chatMessages.chatReply.voicechat.mic.tooltip')}}"></div>
            </i>
            <button class="btn btn-default btn-sm small gray voice" data-action="leave-voice-chat">
              <span class="left fa fa-phone" style="vertical-align:middle"></span>
              {{@Helper.i18n('plugin.chat.component.chatMessages.chatReply.button.leaveVoiceChat.label')}}
            </button>
          </span>
          <span class="buttons-when-voice-chat-active">
            <i class="fa fa-microphone"></i>
            <button class="btn btn-success btn-sm small voice" data-action="join-voice-chat">
              <span class="left fa fa-phone" style="vertical-align:middle"></span>
              {{@Helper.i18n('plugin.chat.component.chatMessages.chatReply.button.joinVoiceChat.label')}}
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="video-conference-people">
    <div class="inner">
      <div class="list"></div>
    </div>
  </div>
</div>
