@import {webUtils} from "../../../Types";
@model webUtils.PersonModelFull
@context string
<div class="window-select-contacts-user contact-item {{@model.username.indexOf('@') >= 0 ? 'external' : ''}}" {{#context == "toChoose" ? " data-action=add-contact" : " data-action=remove-contact"}}>
  <div class="image">
    <img src="{{#Helper.getAvatarOrDefault(model.avatar.avatar)}}" />
  </div>
  <div class="star">
    {{if (model.isStarred) { {{
      <i class="fa fa-star"></i>
    }} } }}
  </div>
  <div class="name">
    {{@model.name && model.name != model.username ? model.name + " (" + model.username + ")" : model.username}}
  </div>
  {{ if (context == "choosen") { {{
    <button tabindex="-1" class="btn btn-xs btn-warning" data-action="remove-contact" title="{{@Helper.i18n('window.selectContacts.user.removeContact.title')}}">
      &laquo;
    </button>
  }} } else if (context == "toChoose") { {{
    <button tabindex="-1" class="btn btn-xs btn-default gray" data-action="add-contact" title="{{@Helper.i18n('window.selectContacts.user.addContact.title')}}">
      &raquo;
    </button>
  }} } }}
</div>
