<div class="buttons hide">
  <button class="btn btn-default btn-sm small gray-transparent" data-action="edit">
    <i class="fa fa-edit"></i>
    {{@Helper.i18n("plugin.editor.window.editor.toolbar.button.edit.label")}}
  </button>
  <button class="btn btn-default btn-sm small gray-transparent" data-action="send">
    <span class="left ico-paper-airplane"></span>
    {{@Helper.i18n("plugin.editor.window.editor.toolbar.button.send.label")}}
  </button>
  <button class="btn btn-default btn-sm small gray-transparent" data-action="download">
    <i class="fa fa-download"></i>
    {{@Helper.i18n("plugin.editor.window.editor.toolbar.button.export.label")}}
  </button>
  <button class="btn btn-default btn-sm small gray-transparent" data-action="attach-to-task">
      <i class="fa privmx-icon privmx-icon-tasks"></i>
      {{@Helper.i18n("plugin.editor.window.editor.toolbar.button.attachToTask.label")}}
  </button>
</div>
