@import {Model} from "../ActivateNewWayController";
@import {func as keyInfoTemplate} from "./key-info.html";
@model Model
<div class="window-login-activate-new-way page">
  <div class="inner with-bottom-link">
    <header>
      <h1><div class="logo-127x112-container"><img src="{{#Helper.getAssetByName('CUSTOM_LOGO_127X112')}}" /></div></h1>
      <div class="header-info">{{@Helper.i18n("window.login.activatenewway.header")}}</div>
    </header>
    <form name="register" method="post" onsubmit="return false;">
      <section>
          
          <div class="row">
            <div class="col-xs-12">
              <div class="header">
                {{@Helper.i18n("window.login.activatenewway.keycode.label")}}
              </div>
              <div class="form-group with-icon">
                <div class="holder">
                  <input class="form-control words keycode" name="words" placeholder="XXXX-XXXX">
                </div>
              </div>
            </div>
          </div>
          <div class="error"></div>

      </section>
    </form>
    <div class="buttons-container">
      <button type="button" class="btn btn-primary" data-action="open-login">
        {{@Helper.i18n("window.login.activatenewway.btn.back")}}
      </button>
      
      <button type="button" class="btn btn-primary" data-action="go-next">
        {{@Helper.i18n("window.login.activatenewway.btn.continue")}}
      </button>
    </div>
  </div>
  <div class="pre-info-box">
    <div class="selectable">
      {{@Helper.i18n("window.login.activate.keyGetherInfo")}}<br/>
      <a href="https://privmx.com">https://privmx.com</a>
    </div>
  </div>
</div>
