<div class="section alternative-login-section">
  <div class="section-header">
    <i class="fa fa-ellipsis-h"></i>
    {{@Helper.i18n("window.settings.section.alternativeLogin.header")}}
  </div>
  <div class="base-form">
    <div class="fields">
      
      <div class="field">
        <div class="info">
        </div>
        <div class="input">
          <p class="input-text">{{@Helper.i18n("window.settings.section.alternativeLogin.info")}}</p>
      </div>
      <div class="field buttons">
        <div class="info">
        </div>
        <div class="input">
          <button class="btn btn-success" data-action="show-secret-id-words">
            <i class="fa fa-eye"></i>
            {{@Helper.i18n("window.settings.section.alternativeLogin.show")}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
