@import {Model} from "../AccountController";
@model Model
<div class="section">
  <div class="section-header">
    <i class="fa fa-ellipsis-h"></i>
    {{@Helper.i18n("window.settings.section.changePassword.header")}}
  </div>
  <div class="base-form">
    <div class="fields">
    
      {{ if (model.isMnemonicEnabled) { }}
      <div class="field">
        <div class="info">
          {{@Helper.i18n("window.settings.section.changePassword.type.label")}}
        </div>
        <div class="input radio">
          <label>
            <input type="radio" value="oldPassword" vf-model="type" />
            {{@Helper.i18n("window.settings.section.changePassword.type.value.oldPassword")}}
          </label>
          <label>
            <input type="radio" value="secretIdWords" vf-model="type" />
            {{@Helper.i18n("window.settings.section.changePassword.type.value.secretIdWords")}}
          </label>
        </div>
      </div>
      {{ } else { }}
        <input type="radio" value="oldPassword" vf-model="type" style="display:none;" />
      {{ } }}
      
      <div class="field" vf-visible="type == 'oldPassword'">
        <div class="info">
          {{@Helper.i18n("window.settings.section.changePassword.current.label")}}
        </div>
        <div class="input">
          <input type="password" placeholder="" vf-model="currentPassword" />
        </div>
      </div>
      
      <div class="field" vf-visible="type == 'secretIdWords'">
        <div class="info">
          {{@Helper.i18n("window.settings.section.changePassword.secretIdWords.label")}}
        </div>
        <div class="input">
          <textarea placeholder="" vf-model="secretIdWords" style="height: 85px;"></textarea>
        </div>
      </div>
      
      <div class="new-password-fields">
        <div class="field">
          <div class="info">
            {{@Helper.i18n("window.settings.section.changePassword.new.label")}}
          </div>
          <div class="input">
            <input type="password" placeholder="" vf-model="newPassword" name="newPassword" />
          </div>
        </div>
        
        <div class="field">
          <div class="info">
            {{@Helper.i18n("window.settings.section.changePassword.repeat.label")}}
          </div>
          <div class="input">
            <input type="password" placeholder="" vf-model="repeatedPassword" name="repeatedPassword" />
          </div>
        </div>
        
        <div class="password-meter">
          <div class="score-text">{{$Helper.i18n("passwordStrengthMeter.info")}}</div>
        </div>
      </div>
      
      
      <div class="field buttons">
        <div class="info">
        </div>
        <div class="input">
          <button class="btn btn-success change-password-button progress-button" data-working-text="{{@Helper.i18n("window.settings.section.changePassword.button.save.working.text")}}" vf-click="changePassword()">
            <i class="fa fa-save"></i>
            <span class="button-text">{{@Helper.i18n("window.settings.section.changePassword.button.save.text")}}</span>
          </button>
        </div>
      </div>
      
    </div>
  </div>
</div>
