@import {Model} from "../SwitchVoiceChatConfirmWindowController";
@model Model
<div class="window-openexternal">
  <div class="content">
    <div class="info">
      <div class="bold">{{@Helper.i18n("window.switchVoiceChatConfirm.info1")}}</div>
      <div>{{@Helper.i18n("window.switchVoiceChatConfirm.info2")}}</div>
    </div>
  </div>
  <div class="buttons">
    <button class="btn btn-success" data-action="ok" tabindex="0">
      <i class="fa fa-check"></i>
      {{@Helper.i18n("core.button.ok.label")}}
    </button>
    <button class="btn btn-default" data-action="close" tabindex="1">
      {{@Helper.i18n("core.button.cancel.label")}}</button>
    <div class="input checkbox">
      <label>
        <input type="checkbox" name="window.switchvoicechatconfirm.dontshow" data-action="check" {{#model.warningDisabled ? 'checked="checked"' : '' }} tabindex="2"/>
        {{@Helper.i18n("window.switchVoiceChatConfirm.checkbox.dontshow.label")}}
      </label>
    </div>
  </div>
</div>
