@import {Model} from "../../sections/SectionUITypes";
@model Model
<div class="window-sectionpicker-main">
  <div class="sections-header">
    <div class="base-form">
      <div class="fields">
        <div class="field">
          <div class="input radio">
            <label>
              <input type="radio" id="top-level" name="level" value="top-level"/>
              <span class="label">{{@Helper.i18n("window.sectionPicker.no_parent.label")}}</span>
            </label>
            <label>
              <input type="radio" id="sub-section" name="level" value="sub-section"/>
              <span class="label">{{@Helper.i18n("window.sectionPicker.with_parent.label")}}</span>
            </label>
          </div>    
        </div>
      </div>
    </div>
  </div>
  <div class="sections-list">
  </div>
  <div class="sections-list-lock-overlay"></div>
  <div class="buttons-container">
    <div class="buttons">
      <button class="btn btn-success" data-action="select" tabindex="1" {{#model.state.canAdd || model.state.isAdmin ? '' : 'disabled="disabled"'}}>
        <i class="fa fa-plus"></i>
        {{@Helper.i18n("window.sectionPicker.actions.move")}}
      </button>
      <button class="btn btn-default" data-action="close" tabindex="2">
        {{@Helper.i18n("core.button.close.label")}}
      </button>
    </div>
  </div>
</div>
