@import { Model } from "../CustomSelectController";
@model Model
{{
  let cls = "";
  let options = JSON.parse(model.optionsStr);
  if (options.multi) {
    cls += "multi ";
  }
}}
<div class="component-custom-select-main {{@cls}}" tabindex="-1">
  <div class="custom-select-button">
    <ul class="selected-items">
    </ul>
    <i class="fa fa-caret-down"></i>
  </div>
  <div class="custom-select-dropdown context-menu">
    {{ if (model.headerText) { }}
    <span class="dropdown-header">{{@model.headerText}}</span>
    {{ } }}
    <ul class="context-menu-content">
    </ul>
  </div>
</div>