@import * as privfs from "privfs-client";
@import RawUserAdminData = privfs.types.core.RawUserAdminData;
@import {Context} from "../../../../component/extlist/ExtListView";
@import {BaseCollection} from "../../../../utils/collection/BaseCollection";
@import {ImageTypeDetector} from "../../../../utils/ImageTypeDetector";
@import {UserInfo} from "../UsersController";
@import {WebUtils} from "../../../../web-utils/WebUtils";
@model UserInfo & {privacyLevel: "managed"|"private", twofa: boolean, blocked: boolean, isFirstAdmin: boolean}
@context Context<UserInfo>
{{
//  var userFirstAdmin = (model as any).initDataKey == "Admin";
//  var userManaged = !(model as any).adminDataForUser && (model as any).recoveryData && !userFirstAdmin;
//  var userPrivate = (model as any).adminDataForUser || !(model as any).recoveryData;

var userFirstAdmin = model.isFirstAdmin;
var userManaged = model.privacyLevel == "managed" && !userFirstAdmin;
var userPrivate = model.privacyLevel == "private";
  
  var hasWeakPassword = model.weakPassword !== false;
  var hasNo2FA = !model.twofa;
  var warningColor = hasNo2FA && hasWeakPassword ? "red" :  "yellow";
  var profileName = "";
  var avatar = Helper.getAssetByName('DEFAULT_USER_AVATAR');
  var defaultAvatar = true;

  var username = model.displayName;
  if (model.showUserId) {
    username += " (" + model.userId + ")";
  } 

  if (model.cachedPkiEntry) {
    if (model.cachedPkiEntry.image) {
      avatar = WebUtils.createNamedObjectURL("avatar:" + model.hashmail, ImageTypeDetector.createBlobDataFromBase64(model.cachedPkiEntry.image));
      defaultAvatar = false;
    }
    if (model.cachedPkiEntry.name) {
      profileName = model.cachedPkiEntry.name;
    }
  }
}}

<div class="user">
  <span class="block avatar">
    <img class="{{#defaultAvatar ? 'default-avatar' : ''}}" src="{{@avatar}}" alt="" />
  </span>
  <span class="block info">
    <div class="elements-row">
      <div class="elements">
  
        <span class="element username">{{@username}}</span>
        <span class="element is-admin">
          {{ if (model.isAdmin) { {{ 
            <span class="label label-default">{{@Helper.i18n("window.admin.users.table.admin")}}</span>
          }} } }}
        </span>  
        <span class="element user-type">
          {{ if (userPrivate || userFirstAdmin) { {{
            <span class="label label-default">{{@Helper.i18n("window.admin.users.table.description.privatePostfix")}}</span>
          }} } }}
        </span>
      
        <span class="element to-right password-twofa">
          {{ if (!model.registrationDate) { {{
            <span title="{{@Helper.i18n('window.admin.users.table.noRegisteredYet')}}">[?]</span>
          }} } else if (model.generatedPassword) { {{
            <span title="{{@Helper.i18n('window.admin.users.table.generatedPassword.info')}}">
              {{@Helper.i18n("window.admin.users.table.generatedPassword")}}
            </span>
          }} } else { {{
            {{ if (hasWeakPassword) { {{
              <span style="font-weight: bold; color: {{@warningColor}};">{{@Helper.i18n("window.admin.users.table.passwordIsWeak")}}</span>
            }} } else { {{
              {{@Helper.i18n("window.admin.users.table.passwordIsOK")}}
            }} } }}
            {{ if (model.twofa) { {{
              / <span class="header">{{@Helper.i18n("window.admin.users.table.2FA")}}</span>

              <span class="disable-2fa" data-action="disable-2fa" data-username="{{@model.username}}">
                  <i class="fa fa-lock" title='{{@Helper.i18n("window.admin.users.table.disable2fa")}}'></i>
                </span>
            }} } else { {{
                / <span class="disable-2fa" style="font-weight: bold; color: {{@warningColor}};">{{@Helper.i18n("window.admin.users.table.2fadisabled")}}</span>
            }} } 
          } }}


        </span>
      </div>
    </div>
    <div class="elements-row">
      <div class="elements">
        <span class="element equal online-status">
          {{
          if (model.present) { {{
            {{@Helper.i18n("core.onlineStatus.onlineFor", Helper.timeAgo(model.loggedInSince, true))}}
          }} }
          else { {{
            {{@Helper.i18n("core.onlineStatus.lastSeen")}} {{@Helper.timeAgoWithNull(model.lastSeenDate)}}
          }} }
        }}
        </span>
      
        <span class="element equal last-client-version">
            {{@model.lastClientVersion}}
        </span>
  
        <span class="element equal last-device">
          <span class="header">{{@Helper.i18n("window.admin.users.table.lastDevice")}}: </span>{{@model.lastDevice}}
        </span>
  
        <span class="element equal to-right last-ip">
          <span class="header">{{@Helper.i18n("window.admin.users.table.lastIp")}}: </span>{{@model.lastIp}}
        </span>    
      </div>
    </div>  
  </span>
  <span class="block settings">
    <div class="settings-button" data-action="edit-user" data-username="{{@model.username}}">
      <i class="fa fa-pencil"></i>
    </div>
  </span>
</div>

