<div class="first-login-info-wrapper">
  <div class="first-login-info">
    <i class="fa fa-arrow-up faa-bounce animated"></i>
    <div class="text">
      {{@Helper.i18n('component.navbar.firstLoginInfo.text')}}
    </div>
    <button class="btn btn-success" data-action="close-info">
      <i class="fa fa-check"></i>
      {{@Helper.i18n('component.navbar.firstLoginInfo.button.label')}}
    </button>
  </div>

  <div class="first-login-info-hole"></div>

  <div class="first-login-info-overlay"></div>
</div>
