@import {UserModel} from "../NavBarController";
@model UserModel
{{
  var data = model;
  var person = model.person;
  var description = Helper.shortDescription(person.description);
}}
<div class="nav-bar-user-name text-col {{@description ? 'with-description' : 'without-description'}}">
  <p class="name">{{@Helper.truncate(person.name, 25)}}{{ if (model.isAdmin) { }}<span class="user-is-admin-info"> <i class="fa fa-users"></i><i class="fa fa-cog"></i></span>{{ } }}</p>
  {{if (description) { {{
    <p class="desc">{{@Helper.truncate(description, 25)}}</p>
  }} } }}
</div>