@import {UserModel} from "../NavBarController";
@import {func as userNameTemplate} from "./user-name.html";
@model UserModel
{{
  var data = model;
  var person = model.person;
}}
<div class="login-data">
  <p class="image">
    <canvas class="not-rendered" data-hashmail-image="{{@person.hashmail}}" data-width="30" data-height="30" data-auto-size="true" data-auto-refresh="true"></canvas>
  </p>
  {{#Helper.createTemplate(userNameTemplate).render(model)}}
  <div class="menu">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="ico-arrow-down"></span>
      </button>
      <div class="context-menu-nav-bar {{@model.showWindowControls ? 'context-menu-narrow-mode' : ''}}">
        <div class="context-menu-backdrop"></div>
        <ul class="context-menu-content">
          {{data.menu.groups.forEach((group, groupIndex) => { {{
            {{ if (groupIndex > 0 && group.elements.length > 0 && data.menu.groups[groupIndex-1].elements.length > 0) { {{
              <li class="divider"></li>
            }} } }}
            {{group.elements.forEach(x => { {{
              <li>
                <span data-action="{{@x.action}}" tabindex="-1" data-window-opener="true">
                  {{ if (Array.isArray(x.icon)) { }}
                    {{ for (let str of x.icon) { }}
                      <span class="{{@str.indexOf('fa-') == 0 ? 'fa ' + str : str}}"></span>
                    {{ } }}
                  {{ } else { }}
                    <span class="{{@x.icon.indexOf('fa-') == 0 ? 'fa ' + x.icon : x.icon}}"></span>
                  {{ } }}
                  {{@x.label}}
                </span>
              </li>
            }} }); }}
          }} }); }}
        </ul>
      </div>
    </div>
  </div>
</div>
