@import {SendResult} from "../PrivMsgController";
@model SendResult[]
<div class="sys-msg-summary">
  
  <div class="summary-header">
    {{@Helper.i18n("window.admin.privmsg.summary.header")}}
  </div>
  <table class="table small">
    <tbody>
      {{model.forEach(function(user) { {{
        <tr>
          <td>
            <canvas class="not-rendered" data-width="16" data-height="16" data-auto-size="true" data-hashmail-image="{{@user.hashmail}}" data-auto-refresh="true"></canvas>
            <span data-hashmail-name="{{@user.hashmail}}" data-auto-refresh="true" data-hashmail-default-name="{{@user.username}}">{{@user.name}}</span>
          </td>
          <td>
            {{ if (user.status == "ok") { {{
             <span class="text-success">
                {{@Helper.i18n("window.admin.privmsg.summary.sent")}}
                <i class="fa fa-check"></i>
              </span>
            }} } else if (user.status == "error") { {{
              <span class="text-danger">
                {{@Helper.i18n("window.admin.privmsg.summary.error")}}
                <i class="fa fa-times"></i>
              </span>
            }} } else if (user.status == "no-sink") { {{
              <span class="text-muted">
                {{@Helper.i18n("window.admin.privmsg.summary.nosink")}}
              </span>
            }} } else if (user.status == "no-activated") { {{
              <span class="text-muted">
                {{@Helper.i18n("window.admin.privmsg.summary.notactivated")}}
              </span>
            }} } }}
          </td>
        </tr>
      }} }); }}
    </tbody>
  </table>

  <div class="buttons">
    <button class="btn btn-default" data-action="close-summary">
      {{@Helper.i18n("window.admin.privmsg.summary.close")}}
    </button>
  </div>
  
</div>
