@import {UploadFileItem} from "../UploadServiceWindowController";
@import {Context} from "../../../component/extlist/ExtListView";
@model UploadFileItem
@context Context<UploadFileItem>
    {{
        function trimSlashOfRootFile(path: string) {
            let parts = path.split("/");
            return parts.length == 2 ? parts[1] : path;
        }
        let basePath = model.path == "/" ? "" : model.path;
    }}
<div class="file-item {{$model.status}}" data-id="{{@model.fileId}}" data-progress="{{@model.progress.percent}}" data-progress-status="{{@model.status}}">
    <span class="name-container">
        <i class="{{@model.icon}}"></i>
        <span class="name">{{@trimSlashOfRootFile(model.fileName)}}</span>
    </span>

    <span class="progress-container">
        {{
            if (model.status == "done") {
                {{
                    <span class="status done">{{@Helper.i18n("window.uploadservice.statusDone")}}</span>
                }}
            }
            else if (model.status == "wait" ) {
                {{
                    <span class="status wait">... {{@Helper.i18n("window.uploadservice.statusWaiting")}}</span>
                }}
            }
            else if (model.status == "in-progress") {
                {{
                    <span class="status in-progress">{{@Helper.i18n("window.uploadservice.statusUploading")}} ... </span><span class="percent">{{@model.progress.percent}}%</span>
                }}
            }
            else if (model.status == "aborted") {
                {{                    
                    <span class="status wait">{{@Helper.i18n("window.uploadservice.statusCancelled")}}</span>
                    
                }}
            }
        }}
    </span>

</div>