@import "../../base/BaseWindow";
@import "../../../component/notification/index";

.window-error-main {
  padding: 15px;
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  
  h3 {
    font-size: var(--font-size-xl);
  }
  
  ul {
    list-style-type: none;
  }
  
  .report-options {
    label {
      font-weight: normal;
      cursor: pointer;
    }
    
    .link {
      margin-left: 10px;
    }
  }
  
  .buttons {
    text-align: center;
    margin-top: 15px;
    
    .btn {
      margin: 0 5px;
    }
  }
  
  .switch {
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 10px;
    background-color: var(--switch-bg);
    border-radius: @radius;
    position: relative;
    cursor: pointer;
    margin: -3px 5px 0 0;
    
    &::before {
      content: " ";
      position: absolute;
      top: -3px;
      left: 0;
      right: auto;
      width: 16px;
      height: 16px;
      background-color: var(--switch-bg2);
      border-radius: 1000px;
    }
    &.active {
      background-color: @colorSuccess;
      
      &:before {
          left: auto;
          right: 0;
      }
    }
  }
  
  .notifications-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  .explanation {
    display: flex;
    flex-direction: column;
    height: 100%;

    .error-message {
      flex-grow: 10;
    }
  }

  .entry-value.custom {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 0;
    height: 100%;
  }

  .entry-value.custom textarea {
    order: 1;
    color: var(--body-fg);
  }
  .entry-value.custom .btn {
    order: 2;
    flex-basis: 80px;
    height: 72px;
    margin-left: 10px;
  }

  .flex-row {
    order: 1;
    &.max-height {
      flex-grow: 10;
    }
    .checkbox {
      margin-top: 0;
    }
  }

  .buttons {
    order: 10;
  }

  .additional-info {
    order: 1;
  }
}
