@import { webUtils, app } from "../../Types";
@import { StickersList } from "../emojipicker/StickersList";
@model webUtils.EmojiIconsModel
@context boolean
<div class='component-emoji-view'>
  {{
    model.icons.forEach(x => {
      if (x.count > 0) {
        {{
          <span class="emoji-icon emoji-not-rendered{{@x.isMy ? ' is-my' : ''}}" data-icon='{{@x.id}}' data-count='{{@x.count}}'>
            {{ if ( StickersList.stickersCompat.indexOf(x.id) > -1 ) {  {{
            &#x{{@x.id}}
            }} } }}
            <div class="infotooltip not-rendered" data-tooltip-message="" data-with-avatars="true" data-tooltip-theme="light">
              <div class="avatars">
              {{
                x.persons.forEach(person => {
                  let shortDescription = Helper.shortDescription(person.description) || "";
                  let truncateDescription = !!context;
                  {{
                    <div class="avatar-item {{@shortDescription ? 'with-description' : ''}} {{@person.present ? 'present' : ''}} {{@truncateDescription ? 'truncate-description' : ''}}" data-hashmail-profile="{{@person.hashmail}}" data-description-indicator="true">
                      <div class="image-with-data" style="padding: 10px 10px 10px 0">
                        <p class="image">
                          <canvas class="not-rendered" data-hashmail-image="{{@person.hashmail}}" data-width="30" data-height="30" data-auto-size="true" data-auto-refresh="true"></canvas>
                        </p>
                        <div class="text-col">
                          <p class="name" data-hashmail-name="{{@person.hashmail}}" data-auto-refresh="true" style="padding-top:0; margin-bottom: 0; line-height: 26px;">
                            {{@person.name || person.username}}
                          </p>
                          <p class="desc" data-hashmail-short-description="{{@person.hashmail}}" data-max-length="{{truncateDescription ? 25 : -1}}" data-auto-refresh="true">
                            {{@shortDescription && truncateDescription ? Helper.truncate(shortDescription, 25) : shortDescription}}
                          </p>
                        </div>
                      </div>
                    </div>
                  }}
                })
              }}
              </div>
            </div>
          </span>
          <span class="emoji-count">{{@x.count > 1 ? x.count : ''}}</span>
        }}
      }
    })
  }}
</div>
